{% extends "base.html" %}
{% block header_title %} Hive project {% endblock %}
{% block content %}


<title>Home Page</title>
</head>
<body>
​
 <h1>Home Page</h1>


 {% for feed_list in feeds %}
 

{% for feed in feed_list %}
 <div class="panel panel-default">
 <div class="panel-body">
  <div class="well">
  	<pre>
  	{{ feed.user }}</pre>
   <p>{{feed.text}}</p>
   <button onclick="alert('Liked!')">
    <i class="far fa-thumbs-up"> {{feed.like}}</i>
   </button>
   <p> Date: {{feed.date}}</p>
  </div>
 </div>
</div> 
{% endfor %}
​ {% endfor %}

 {% endblock %}
