<html>
<head>
<style>
body {
    font-size: 28px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: right;
}
logo {
    float: left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<div class="header">
  <h2>Home Page</h2>

</div>


<ul>
  <logo><a class="active" href="#home">Logo</a></logo>
  <li><a href="#signup">Sign Up</a></li>
  <li><a href="#login">Login</a></li>
</ul>

</body>
</html>