{% extends "base.html" %}
{% block header_title %} Hive project {% endblock %}
{% block content %}


<title>Home Page</title>
</head>
<body>
​
 <h1>Home Page</h1>


 {% for feed in feeds %}
 


 <div class="panel panel-default">
 <div class="panel-body">
  <div class="well">
 <a href="{% url 'first_app:profile_feed' feed.user.id  %}"> 
 	{{feed.user}}
 </a>
   <p>{{feed.text}}</p>
   <button onclick="alert('Liked!')">
    <i class="far fa-thumbs-up"> {{feed.like}}</i>
   </button>
   <p> Date: {{feed.date}}</p>
  </div>
 </div>
</div> 

​ {% endfor %}


 {% endblock %}
