{% extends "base.html" %}
{% block header_title %} Hive project {% endblock %}
{% block content %}

 <div class="panel panel-default">
 <div class="panel-body">
  <div class="well">
<p> Your info: </p>
<p> {{user.email}} </p>
<p> {{user.username}} </p>
 </div>
 </div>
</div> 

<h1>This your feeds :</h1>

{% for tweet in feeds %}
 <div class="panel panel-default">
 <div class="panel-body">
  <div class="well">
<p> {{tweet.text}} </p>
<p> Date : {{tweet.date}} </p>
<p> Likes : {{tweet.like}} </p>
 </div>
 </div>
</div> 
{% endfor %}


 {% endblock %}
