{% extends "base.html" %}
{% block header_title %} Hive project {% endblock %}
{% block content %}


<div class="panel panel-default">
 <div class="panel-body">
  <div class="well">

<h2> Info: </h2>
<p>EMAIL:    {{user.email}} </p>
<p>USERNAME:    {{user.username}} </p>
<p>BIO:    {{prof.bio}} </p>
</div>
 </div>
</div> 
<h1>This feed of : {{user.username}} </h1>

{% for tweet in feeds %}
<div class="panel panel-default">
 <div class="panel-body">
  <div class="well">
<p> {{tweet.text}} </p>
<p> Date : {{tweet.date}} </p>
<p> Likes : {{tweet.like}} </p>
<p> --------------- </p>
</div>
 </div>
</div> 
{% endfor %}

 
 
 {% endblock %}
