{#{% extends "base.html" %}#}
{#{% block header_title %} Hive project {% endblock %}#}
{#{% block content %}#}
{##}
{##}
{#<h1>Sign Up </h1>#}
{#	<h2>Welcome, give us informations</h2>#}
{#		<form method="POST">#}
{#			{{form.as_p}}#}
{#			<input type="submit" name="send" value="Submit">#}
{#			{% csrf_token %}#}
{#		</form>#}
{#		​#}
{##}
{##}
{##}
{##}
{##}
{##}
{##}
{# {% endblock %}#}
{% extends "base.html" %}
{% block header_title %} Hive project {% endblock %}
{% block content %}
{% load staticfiles %}

{##}
{#<h1>Sign Up </h1>#}
{#	<h2>Welcome, give us informations</h2>#}
{#	<form method="POST">#}
{#		{{form.as_p}}#}
{#		<input type="submit" name="send" value="Submit">#}
{#		{% csrf_token %}#}
{#	</form>#}
{#	​#}



<title>SingUp Page</title>
</head>
<body class="login-body">

{#<h1>Sign Up</h1>#}
    <form method="POST">
		{{form.as_p}}
		{% csrf_token %}
	</form>
<style>
    body {
    {#background: url("https://portfortune.files.wordpress.com/2017/01/hive.jpg");#}
    background: url(" http://pluto.tv.s3.amazonaws.com/assets/images/channels/94c00b9b-c823-6d69-6d0b-e64daad439ac-Hive_featured.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
</style>
<section class="login-section">
    <h3>SignUp</h3>
    <form>
                   <div>
                       <label for="email">Email</label><br>
                       <input type="text" id="email-field" name="email" placeholder="name@exemple.com">
                   </div>
                   <div>
                       <label for="username">Username</label><br>
                       <input type="text" id="username-field" name="username" placeholder="name">
                   </div>
                   <div>
                       <label for="password">Password</label><br>
                       <input type="password" id="password-field" name="password" placeholder="password">
                   </div>
                   <div>
                       <label for="fullname">Full name</label><br>
                       <input type="text" id="fullname-field" name="fullname" placeholder="first and second name ">
                   </div>
                   <div>
                       <input type="button" name="submit" onclick="submitsignup()" value="Sign Up">
                   </div>
    </form>
  </section>

</body>

 {% endblock %}
